:root {
	--fc-dark: rgba(50, 40, 44, 1.0);
	--fc-medium: rgba(50, 40, 44, .50);
	--fc-light: rgba(50, 40, 44, .25);

	--primary-color: #EC0868;
	--secondary-color: #FF5400;
	--white: #f8f5f6;

	--size-8: 0.5rem;
	--size-16: 1rem;
	--size-24: 1.5rem;
	--size-32: 2rem;
	--size-40: 2.5rem;
	--size-48: 3rem;
	--size-56: 3.5rem;
	--size-64: 4rem;
	--size-72: 4.5rem;
	--size-80: 5rem;
	--size-88: 5.5rem;
	--size-96: 6rem;
	--size-104: 6.5rem;
	--size-112: 7rem;
	--size-120: 7.5rem;
	--size-128: 8rem;
	--size-136: 8.5rem;
	--size-144: 9rem;
	--size-152: 9.5rem;
	--size-160: 10rem;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	line-height: 1.5;
	background-color: var(--white);
	color: var(--fc-dark);
	font-size: var(--size-24);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--fc-dark);
}

img {
	display: block;
	max-width: 100%;
}


.container {
	max-width: 1100px;
}

.btn {
	padding: var(--size-8) var(--size-16);
	border-radius: var(--size-8);
	background-color: var(--secondary-color);
}